body
{
  background-color: #fcfcfc;
  font-family: "Arial";
}
#center-div
{
  max-width: 75%;
  margin: auto;
}
.nav
{
  background-color: #d9eff7;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  height: 50px;
  vertical-align: middle;
  line-height: 50px;
}
.outline
{
  outline: #000 dotted thick;
}
.area-div
{
  background-color: #d9eff7;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
}

.main-section
{
    display:inline;
    height:20px;
    width: 70px;
}
